.footcontainer {
    background-color: #000;
    color: black;
    padding: 1rem;
    text-align: center;
    height: 300px;
    margin: 0
}

.footitem {
    margin-top: 10px;
    background-color: #fff;
    height: 250px;
}